#loading{
   width: 100vw;
   height: 100vh;
   background-color: #000; 
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   display: none;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}